version: '2'

services:
    php:
        build: ./php
        volumes_from:
            - source
#        ports:
#            - '9000:9000'
        links:
            - mysql
            - memcached
            - mail
        restart: always
        network_mode: bridge
    nginx:
        build: ./nginx
        volumes_from:
            - source
#        ports:
#            - '23680:80'
#            - '23443:443'
        links:
            - php
        restart: always
        network_mode: bridge
    mysql:
        build: ./mysql
        volumes_from:
            - source
#        ports:
#            - '3306:3306'
        environment:
            MYSQL_DATABASE: bitrix
            MYSQL_USER: bitrix
            MYSQL_PASSWORD: 123
            MYSQL_ROOT_PASSWORD: 123
        restart: always
        network_mode: bridge
    memcached:
        image: memcached:1.5-alpine
        volumes_from:
            - source
#        ports:
#            - '11211:11211'
        restart: always
        network_mode: bridge
    source:
        image: alpine:latest
        volumes:
            - ./logs/nginx:/var/log/nginx
            - ./logs/php:/var/log/php
            - ./logs/mysql:/var/log/mysql
            - ./logs/memcached:/var/log/memcached
            - ./data/mysql:/var/lib/mysql
            - ./data/memcached:/var/lib/memcached
            - /var/www/bitrix:/var/www/bitrix
            - /etc/localtime:/etc/localtime/:ro
    mail:
      image: namshi/smtp
      environment:
        - SMARTHOST_ADDRESS=smtp.server.com
        - SMARTHOST_PORT=587
        - SMARTHOST_USER=username
        - SMARTHOST_PASSWORD=password
        - SMARTHOST_ALIASES=*.usersenddomain.com
      restart: always
